/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
    font-family: '3_thehard_way_rmxfenotype';
    src: url('./assets/fonts/3_thehard_way/3_thehard_way_rmxfenotype-webfont.woff') format('woff'),
        url('./assets/fonts/3_thehard_way/3_thehard_way_rmxfenotype-webfont.woff') format('woff2');
    font-weight: normal;
    font-style: normal;

}
/*---------- # Body ------------------------------------------*/
/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
} */
html {
	height: 100%;
}

body {
	margin: 0;
}
