#header-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: #ffffff;
    z-index: 9999;
}
#header-title {
    flex: 1;
    margin: -20px auto 0 auto;
    flex-grow: 1;
    align-self: center;
    height: 100px;
    font-family: '3_thehard_way_rmxfenotype';
}